body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
}

header{
  background: #2388bb;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
}

main{
  padding: 20px;
  margin-top: 20px;
}

section{
  background: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form{
  margin-top: 20px;
}

label{
  margin-bottom: 5px;
}

input[type='text'], input[type='password']{
  width: 99%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  background: #00afb9;
  color:#ffffff;
  border:none;
  padding:10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

button:hover{
  background: #007f8b;
}

.error-message {
  font-size: small;
  color: red;
  padding-bottom: 10px;
}

.success {
  font-size: small;
  color: green;
  padding-bottom: 10px;
}