/* General body styling */
/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: block;
    /*justify-content: center;
    /*align-items: center;*/
    height: 100%;
  }


  header{
    background: #2388bb;
    color: #ffffff;
    text-align: center;
    width: 98%;
  }
  /* Main container styling */
  main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /*max-width: 1152px;  As per your layout width */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin-left:5%;
    margin-right: 5%;
  }
  
  /* Section styles */
  section {
    padding: 20px;
    width: 100%;
    margin: 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  textarea,
  input[type="text"],
  input[type="password"]
  { /* Added datetime-local for date inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #fullName{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 92%;
  }

  #dateTime{
    width: 92.5%;
  }
  
  button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4a54e1;
  }
  
  /* Appointments section styling */
  .appointments {
    border: 1px solid #ccc; /* Container for appointments */
    padding: 10px;
    width: 300px; /* Fixed width for alignment */
  }
  
  .appointment {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .appointment button {
    margin: 5px;
    width: auto; /* Auto width for button */
  }
  
  /* Error message styling */
  .error-message {
    color: #ff3860;
    text-align: center;
    margin-top: 10px;
  }
  